
  <h1 class="my-auto">Проекты</h1>
  <div class="actions">
    <% if user_signed_in? %>
      <%= link_to 'Новый проект', new_project_path, class: 'btn btn-primary' %>

    <% end %>
  </div>

<section id='projects'>
  <%= render @projects %>
</section>
