
<h1>Статьи</h1>

<section id='posts'>
 <%= render @posts %>
</section>

<div class="actions">
  <% if user_signed_in? %>
    <%= link_to 'Создать статью', new_post_path, class: 'btn btn-dark btn-lg'  %>
  <% end %>
</div>
