
h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}

.h1-index {
  margin-top: 0;
  margin-bottom: 0;
}

textarea.form-control {
  height: 135px;
}

.navbar-nav .form-inline {
  margin-left: 0;
}
