


h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 1vw;
  margin-bottom: 1vw;

}

.h1-index {
  margin-top: 0;
  margin-bottom: 0;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2rem;
}

textarea.form-control {
  height: 135px;
  // width: 40px;
}


.input-group {
  padding-left: 0;
}

.well {
  margin-top: 6vw;
  padding: 4vw;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.row {
  margin-left: 4vw;
  margin-right: 4vw;
}


.btn {
  margin-top: 2vw;
  margin-bottom: 1vw;
}
.btn.btn-dark {
  background-color: black;
  color: white;
}

.btn.btn-light {
 background-color: lightgray;
 color: white;

}


// .btn-secondary {
//   background: black;
// }
//
// .btn-secondary:hover{
//   background: rgba(0,0,0,0.8);

// }
// .custom-file-label::after {
//   content: "Обзор";
// }
